.float-right {
    float: right;
}

.font-size-2em {
    font-size: 2em;
}

.font-size-1_9em {
    font-size: 1.9em;
}

.font-size-1_8em {
    font-size: 1.8em;
}

.font-size-1_7em {
    font-size: 1.7em;
}

.font-size-1_6em {
    font-size: 1.6em;
}

.font-size-1_5em {
    font-size: 1.5em;
}

.font-size-1_4em {
    font-size: 1.4em;
}

.font-size-1_3em {
    font-size: 1.3em;
}

.font-size-1_2em {
    font-size: 1.2em;
}

.font-size-1_1em {
    font-size: 1.1em;
}

.font-size-1em {
    font-size: 1em;
}

.font-size-_9em {
    font-size: .9em;
}

.font-size-_8em {
    font-size: .8em;
}
